# ==========================================
# Python
# ==========================================
__pycache__/
*.py[cod]
*$py.class

.venv/
venv/
env/

.pytest_cache/
.mypy_cache/
.ruff_cache/

# ==========================================
# Environment Variables
# ==========================================
.env
.env.local
.env.production


# ==========================================
# Logs
# ==========================================
logs/
*.log

# ==========================================
# Jupyter
# ==========================================
.ipynb_checkpoints/

# ==========================================
# VS Code
# ==========================================
.vscode/

# ==========================================
# OS Files
# ==========================================
.DS_Store
Thumbs.db

# ==========================================
# Angular / Node
# ==========================================
frontend/node_modules/
frontend/dist/
frontend/.angular/

# npm logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ==========================================
# Spark
# ==========================================
spark/output/*.csv
spark/output/*.parquet

# Keep folder
!spark/output/.gitkeep

# ==========================================
# Generated Data
# ==========================================
data/processed/

# Keep folder
!data/processed/.gitkeep

# ==========================================
# Docker
# ==========================================
docker-data/
postgres_data/
mongo_data/

# ==========================================
# Temporary Files
# ==========================================
tmp/
temp/
*.tmp

# ==========================================
# Build Artifacts
# ==========================================
build/
dist/

# ==========================================
# Coverage
# ==========================================
.coverage
coverage/
htmlcov/

# ==========================================
# Local Database Files
# ==========================================
*.db
*.sqlite
*.sqlite3

# ==========================================
# IDE
# ==========================================
.idea/

# ==========================================
# Spark Local Temp
# ==========================================
metastore_db/
spark-warehouse/

# ==========================================
# Java
# ==========================================
*.class
*.jar
*.war